{% extends 'base.html' %} {% block title %} Storefront | Home {% endblock %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
<div class="page-header w-full flex items-center justify-center uppercase tracking-wider">
    Home
</div>
<div class="w-9/12 bg-white rounded-lg mt-4 mx-auto py-4 px-8">
    <h1 class="text-2xl py-4 mb-2 font-semibold text-center">Welcome To Storefront</h1>
    <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi voluptas officiis ut, ducimus commodi in facilis quod velit totam qui consequatur cum quaerat earum suscipit aut veniam nesciunt cupiditate provident!</p>
    <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi voluptas officiis ut, ducimus commodi in facilis quod velit totam qui consequatur cum quaerat earum suscipit aut veniam nesciunt cupiditate provident! Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Eaque reiciendis quas ipsam repudiandae beatae minus vero mollitia numquam, libero veritatis suscipit aut et animi voluptatibus qui at rerum. Animi, quaerat.</p>
    <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi voluptas officiis ut, ducimus commodi in facilis quod velit totam qui consequatur cum quaerat earum suscipit aut veniam nesciunt cupiditate provident!</p>
    <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi voluptas officiis ut, ducimus commodi in facilis quod velit totam qui consequatur cum quaerat earum suscipit aut veniam nesciunt cupiditate provident!</p>
</div>
{% endblock %}