.page-header {
    background-image: url('images/shop-header.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4rem 0;
    color: white;
    text-shadow: 3px 2px 5px black;
    font-size: 4rem;
}

.product-block {
    width: calc( 100% / 3 - 1rem );
}